@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #D38312, #A83279);
  color: white;
}

.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#title {
  font-size: 3em;
}

#grid-container {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  background-color: bisque;
  border-radius: 20px;
  aspect-ratio: 1 / 1;      /* Keeps it square */
  margin-top: 20px;
  overflow: hidden;
}

#grid-container, .container{
  width: 90vw;              /* % of the viewport width */
}

.grid-box-row{
  display: flex;
  flex: 1;
}

.grid-box-col {
  flex: 1;
}

.grid-guide {
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray; 
}

.grid-toogle {
  display: flex;
  align-items: center;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.grid-size-buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 0.2em;
}

.grid-toogle-buttons {
  display: flex;
  gap: 0.8em;
}

@media (min-width: 600px){
  #grid-container, .container {
    width: 80vw;
  }
}
@media (min-width: 768px){
  #grid-container, .container{
    width: 60vw;
  }
}

@media (min-width: 1024px){
  #grid-container, .container{
    width: 50vw;
  }
}

@media (min-width: 1280px){
  #grid-container, .container {
    width: 40vw;
  }
}