body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  height: 700px;
  width: 700px;
}

.grid-box-row{
  display: flex;
  flex: 1;
}

.grid-box-col {
  flex: 1;
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
}

.grid-box-default:hover {
  background-color: black;
}
