body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #D38312, #A83279);
  color: white;
}

#title {
  font-size: 3em;
}

#grid-container {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  height: 700px;
  margin-top: 20px;
  overflow: hidden;
}

.grid-box-row{
  display: flex;
  flex: 1;
}

.grid-box-col {
  flex: 1;
  border-bottom: 0.5px solid gray;
  border-right: 0.5px solid gray;
}

.grid-box-default:hover {
  background-color: black;
}
